/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Vision */

#vision {
	height: 80vh;
	padding-top: 90px !important;
	border-bottom: 1px solid whitesmoke;
}

.about-section {
	width: 100%;
	height: 100%;
	padding-top: 6rem;
	padding: 0 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	align-items: center;
	text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.about-section {
		padding: 0 6rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.about-section {
		padding: 0 8rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.about-section {
		padding: 0 12rem;
	}
}

.vision-title {
	max-width: 800px;
	color: gray;
}

.vision-title span {
	color: rgb(17, 17, 17);
}

.vision-title .main {
	color: #dc3545;
} 

/* Team */

#team {
	min-height: 100vh;
	background-color: #f8f9fa;
}

#team .team-title {
	text-align: center;
	padding: 0 4rem 5rem 4rem;
}

#team .team-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 4rem;
}

#team .team-card .team-card-content {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 32px;
}

#team .team-name-parent a {
	color: #0c0c0c !important;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 6px;
}

#team .team-image {
	width: 100%;
	max-width: 205px;
	aspect-ratio: 1;
	border-radius: 50%;
	overflow: hidden;
	background: white;
}

#team .team-image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

#rayane-image {
	-webkit-filter: contrast(80%);
	        filter: contrast(80%);
}

#maharo-image {
	-o-object-position: top;
	   object-position: top;
}

#team .team-about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#team .team-name {
	white-space: nowrap;
	text-align: center;
	font-size: 24px;
}

#team .team-post {
	display: block;
	text-align: center;
	font-weight: bold;
}

#team .team-expertize {
	text-align: center;
}